@charset "utf-8";
/* . = class */
.box {
    width:200px;
    height: 200px;
    background-color: rgb(10, 143, 143);
}
/*camel case */
.emptySpace {
    width: 200px;
    height: 200px;

}

.roundedCorners {
    border-radius: 7px;
    
}