@charset "utf-8";
/* Display none */

.home {
    display: none;
}

.whyus {
    display: none;
}

.priceplan {
    display: none;
}

.getstarted {
    display: none;
}

.altitudetablet {
    display: none;
}

.right {
    display: none;
}

.logo {
    display: none;
}

.headerdesktop {
    display: none;
}

.addflexmobile {
    display: flex;
}


.iconlogomobile {
    width: 80%;
}





.headermobile {
    display: flex;
    height: 80px;
    background-color: #39658C;

    align-items: center;
    justify-content: space-between;
}

.logomobile {
    display: flex;
    align-items: center;
    height: 10%;
    width: 10%;

    gap: 10px;

    margin-left: 3%;
}

.accountimgmobile {
  width: 10%;
  margin-right: 5%;
}

.herotext {
   font-size: 27px;
}

body {
    background-image:url(../library/icons/Icon\ awesome-cloud.svg), linear-gradient(#4B86B9,#7672B4);
    width: 100vw;
    height: 100vh;
}

.hero {
    margin-top: 10%;
    flex-direction: column;
    align-items: center;
}

.left {
    width: 80%;
}