.left {
    width: 55%;
}

.herotext {
    font-size: 50px;
}

.cloudstablet {
    display: block;
    width: 90%;
    margin-right: 8%;
}

.clouds {
    display: none;
}

.icons {
    display: none;
}

.iconstablet {
    display: block;
    width: 72%;
    margin-left: 3%;
}

.slogan {
    display: none;
}

.slogantablet {
    display: block;
    margin-left: 8%;
    font-size: 18px;
}


.learnmore {
    background-color: #39658C;
    width: 75%;
    height: 60px;
}

.learnmore h2 {
    color: white;
}

.alreadycustomer {
    display: none;
}


.altitudetablet {
    display: block;
    margin-right: 3%;
}


