@charset "UTF-8";

body {
    background-color: #979DA6;
    height: 100%;
    width: 100%;
}

.container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);

    grid-template-areas: 
    "text b b"
    "c portfolio ."
    "d d luffarschack";
    gap: 5%;
}

.text {
    grid-area: text;
}
.luffarschack {
    background-color: #68788C;
    grid-area: luffarschack;
    margin-right: 10%;
}

.portfolio {
    background-color: #F2E205;
    grid-area: portfolio;
    align-items: center;
    justify-content: center;
}

.portfolio a {
    text-decoration: none;
    font-size: 20px;
    color: #2a2f36;
    font-family: 'Bebas Neue', cursive;
}

.p {
    margin: auto;
}

/* Hover */

.portfolio:hover {
    opacity: 70%;
}

.luffarschack:hover {
    opacity: 70%;
}

/* Reusable Classes */
.addflex {
    display: flex;
}




.bold {
    color: white;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 2px;
    font-size: 40px;
    margin-left: 15%;
}

.center {
    align-items: center;
    justify-content: center;
}

.a {
    text-decoration: none;
    font-size: 20px;
    color: #2a2f36;
    font-family: 'Bebas Neue', cursive;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}