.some-class {
    color: red;
    border: 1px solid black; 
    font-size: 55px;
}

.another-class {
    color: purple;
    font-weight: bold;
    font-size: 44px;
    letter-spacing: 5px;
}

.todo {
    text-decoration: line-through;
    color: gray;
}