@charset "utf-8";


body {
    background-color:#F27405;
    margin: 0px;
}


header {
    width:100%;
    height: 200px;
    background-color: #F27405;
    flex-direction: column;
}

.circle {
    height: 100px;
    width: 100px;
    border-radius:100%;
    margin: 15px 0px 15px 0px;
}

.circlebox {
    justify-content: space-evenly;
    align-items: center;
}


.nav {
    width: 100%;
    height: 30px;
    align-items: center;
    justify-content: center;
    gap: 50px;
    flex-direction: row;
    margin: auto;
    width: 40%;
}

.nav section {
    height: 20px;
    flex: 1;
    border-radius: 3px;
    background-color:#d16405;

    text-align: center;
    color: white;
    font-family: sans-serif;

    cursor: pointer;
}

.nav section:hover {
    border: 2px solid white;
}




article {
    width: 100%; 
    height: 450px;
    background-color: #d16405;
    background-image: url(../images/Hero-image.jpg);
    background-size: cover;

    justify-content: space-evenly;
    align-items: center;
}

article p {
    font-size: 50px;
}

.herotextbox {
    height: auto;
    width: auto;
    background-color: #ffffffbb;
    padding: 0px 15px 0px 15px;
}


aside img {
    size: 50%;
    cursor: pointer;
    opacity: 50%;
}


aside img:hover {
    opacity: 100%;
}



.gallery {
    width: 70%; 
    height: 500px; 

    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    padding-top: 40px;

    align-items: center;
    justify-content: center;
}

.container {
    width: 200px;
    height: 200px;
}

.container p {
    color: white;
}

.box {
    height: 150px;
    width: 150px;
    background-color: #d16405;
}

.box:hover {
    opacity: 70%;
    cursor: pointer;
    border: 4px solid black;
    transition: all .2s;
}

.container:nth-child(1) .box {
    background-image: url(../images/U2\ -\ Songsofexperience.jpg);
    background-size: cover;
}

.container:nth-child(2) .box {
    background-image: url(../images/Coldplay\ -\ Ghoststories.jpg);
    background-size: cover;
}

.container:nth-child(3) .box {
    background-image: url(../images/Coldplay\ -\ Parachutes.jpg);
    background-size: cover;
}

.container:nth-child(4) .box {
    background-image: url(../images/Kraftwerk-Therobots.jpg);
    background-size: cover;
}
.container:nth-child(5) .box {
    background-image: url(../images/U2\ -\ Joshuatree.jpg);
    background-size: cover;
}
.container:nth-child(6) .box {
    background-image: url(../images/Fleetwood\ Mac-\ Thedance.jpg);
    background-size: cover;
}
.container:nth-child(7) .box {
    background-image: url(../images/Coldplay\ -X&Y.jpeg);
    background-size: cover;
}
.container:nth-child(8) .box {
    background-image: url(../images/Toto-Live.jpg);
    background-size: cover;
}

footer {
    height: 250px; 
    width: 100%;
    background-color:#d16405;
    margin-top: 15px;
}

.footercontainer {
    width:100%; 
    height: auto;

    flex-direction: row;

    align-items: center;
    justify-content: space-evenly;
}

.footerbox {
    flex-direction: column;
    width: 20%;
    height: 190px;
    background-color: #d16405;
    margin-top: 40px;
    color: white;
}

.socialmedia {
    flex-direction: row;
    gap: 15px;
}



/* Reusable Classes */

.addflex {
    display:flex;
}

.color {
    background-color: #F27405;
    align-items: center;
    justify-content: center;
}

