@charset "utf-8";

body {
    background-color:#F27405;
    margin: 0px;
}


header {
    width:100%;
    height: 200px;
    background-color: #F27405;
    flex-direction: column;
}

.circle {
    height: 100px;
    width: 100px;
    border-radius:100%;
    margin: 15px 0px 15px 0px;
}

.circlebox {
    justify-content: space-evenly;
    align-items: center;
}


.nav {
    width: 100%;
    height: 30px;
    align-items: center;
    justify-content: center;
    gap: 50px;
    flex-direction: row;
    margin: auto;
    width: 40%;
}

.nav section {
    height: 20px;
    flex: 1;
    border-radius: 3px;
    background-color:#d16405;

    text-align: center;
    color: white;
    font-family: sans-serif;
}




article {
    width: 100%; 
    height: 450px;
    background-color: #d16405;
}

.gallery {
    width: 70%; 
    height: 500px; 

    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    padding-top: 40px;

    align-items: center;
    justify-content: center;
}

.container {
    width: 200px;
    height: 200px;
}
.box {
    height: 150px;
    width: 150px;
    background-color: #d16405;
}

footer {
    height: 250px; 
    width: 100%;
    background-color: #4BA69D;
}

.footercontainer {
    width:100%; 
    height: auto;

    flex-direction: row;

    align-items: center;
    justify-content: space-evenly;
}

.footerbox {
    flex-direction: column;
    width: 20%;
    height: 190px;
    background-color: #d16405;
    border: 3px solid black;
    margin-top: 40px;
}





/* Reusable Classes */

.addflex {
    display:flex;
}

.color {
    background-color: #F27405;
    align-items: center;
    justify-content: center;
}