@charset "utf-8";


body {
    background-color: #E0CEF2;
}

body h1 {
    font-family: sans-serif;
    font-weight: 800;
    text-align: center;
    color: #7f6f8f;
}
/* Tips hämtat från stackoverflow, kom ej på annat sätt att lösa detta */
html, body {
    margin: 0;
    height: 100%;
}


.square {
    height: 400px;
    width: 400px;


    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

.squareparent {
    align-items: center;
    justify-content: center;
}


.circle {
    width: 200px; 
    height: 200px; 
    border-radius: 100%;

    transition: border-radius .4s ease;

    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    font-weight: 700;
}

.square a {
    text-decoration: none;
}


.circle:nth-child(1) {
    background-color: #C7B3F2;
}
.circle:hover {
    cursor: pointer;
    opacity:70%;
    border-radius: 0%;
}

.circle:nth-child(2) {
    background-color: #B1BF41;
}

.circle:nth-child(3){
    background-color: #F2AB27;
}

.circle:nth-child(4) {
    background-color: #F29727;
}




/* Reusable classes */
.addflex {
    display: flex;
}