@charset "UTF-8";
/* Återanvändbara klasser */
.addflex {
    display:flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}


header {
    display:flex;
    width:100%;
    height:120px;
    background-color: #5B428F;
    
}

.logo {
    padding-right: 50px;
}

.searchbar{
    transition: width .3s ease-in-out;
    height: 25px;
    width: 200px;
    border-radius: 10px;
}

.searchbar:focus {
   width: 300px;
}


.text {
   justify-content: center;
   flex: 3;
   gap: 4em;
   font-family: sans-serif;

}
.text h1 {
    font-size:50px;
    margin-left:-50px;
}

.spancine {
    color:#F56D58;
}

.spanre {
    color:#262833;
}

.spanport {
    color:#FFD58C;
}

.text p {
    font-size: medium;
    color:#FFD58C;
    font-weight: bold;
}

.rate {
    width:50px;
    height: 20px;
    background-color:#262833;
    justify-content: center;
    border-radius: 4px;
}

.rate p:hover {
    color: #F56D58;
    cursor:pointer;
}

.text p:hover {
color:#F56D58;
cursor: pointer;
}

main {
    width: 100%;
    height: 500px;
    background-color: #262833;
}
.bildspel {
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    
}
.br { 
    width:10%;
    height:30px;
    background-color: #F56D58;
    margin-top: 30px;

    animation:br 20s infinite;
    background-size: cover;
    background-position: center;
}


.slidersize {
    width:90%; 
    height:360px;
    background-color: #5B428F;
}

.imgslider {
    animation: imgslider 18s infinite;
    background-size: cover;
    background-position: center;
    margin-top: 50px;
}

@keyframes imgslider {
    0%,100% {
        background-image:url(../images/Bildspel/Gravitymedtext.jpg)
    }

    25% {
        background-image: url(../images/Bildspel/The\ martianmedtext.jpg);
    }


    50% {
        background-image: url(../images/Bildspel/Interstellarmedtext.jpg);
    }
}
.undermeny {
    width:100%;
    height:600px;
    background-color: #262833;
    align-items: flex-start;
    justify-content: space-between;
} 

.undermeny aside {
    width: 50%;
    height:400px;
    background-color: #F56D58;
    margin-right: -400px;
    margin-left:50px;
    flex-direction: column;
}




.sectionactors {
    width:40%;
    height:400px;
    background-color: #262833;
    
    display:flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 3%;
}

.undermeny article {
    width:150%;
    height:200px;
    background-color: #F56D58;
}
    
.actors {
    background-image: url(../images/The-Martian/The\ Martian\ 200px.jpg);
}


.undermeny section article h2 {
    text-align: center;
    font-family: sans-serif;
    color:#262833
}

.undermeny section article p {
    text-align: center;
    font-family: sans-serif;
    color:#262833;
}

.undermeny aside h2 {
    color: #262833;
    font-family: sans-serif;
    text-align: center;
}
.undermeny aside p {
    text-align: center;
    font-family: sans-serif;
    color:#262833;
}
.similarmovies {
    background-color: #F56D58;
    height:400px;
    margin-left:140px;
    margin-right:40px;
    display:flex; 
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;

}

.topmovies {
    width: 80px;
    height:100px;
    background-color: #262833;
    margin:7px;
    border: 5px solid black;

    transition:transform 0.3s ease-in-out; 
}

.topmovies:hover {
    transform:translateY(-10px);
    filter:brightness(50%);
    cursor:pointer;
}



/* Footer */
footer{
	position: static;
    bottom: 0;
    padding-top: 40px;
}
.footer-distributed{
	background-color: #5B428F;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
 
	padding: 55px 50px;
	
}
 
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}
 
.footer-distributed .footer-left{
	width: 40%;
}
 
.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}
 
.footer-distributed h3 span{
	color:  #5383d3;
}
 
 
.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}
 
.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}
 
.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}
 
 
.footer-distributed .footer-center{
	width: 35%;
}
 
.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}
 
.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}
 
.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}
 
.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}
 
.footer-distributed .footer-center p a{
	color:  #5383d3;
	text-decoration: none;;
}
 
.footer-distributed .footer-right{
	width: 20%;
}
 
.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  rgba(255, 255, 255, 0.568);
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}
 
.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}
 
.footer-distributed .footer-icons{
	margin-top: 25px;
}
 
.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;
 
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
 
	margin-right: 3px;
	margin-bottom: 5px;
}
 
 
@media (max-width: 880px) {
 
	.footer-distributed{
		font: bold 14px sans-serif;
	
	}
 
	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}
 
    .footer-distributed .footer-center i {
        margin-left: 0;
    }
}







